body, header, nav, a, ul, li, div {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 12px;
}

a{
    color: #900b09;
}

h2{
    background: #868686;
    color: white;
    padding-left: 5px;
    font-size: 1.2em;
}

h1{
    font-size: 1.6em;
}

.container > nav, aside{
    width: 160px;
    margin: 1px;
    padding-left: 2px;
    background: #f1f1f1;
    float: left;
}

.container{
    background: #f1f1f1;
    border: 1px solid black;
    padding: 2px 0px 2px 2px;
    float: left;
}

.wrapper{
    width: 600px;
    float: left;
    border: 1px solid #868686;
    background: white;
    padding: 3px 3px 44px 3px;
    margin-top: 2px;
}

.wrapper nav a{
    display: block;
    float: left;
    width: 50px;
    border: 1px solid black;
    margin: 5px;
    padding: 2px 25px 2px 25px;
    color: black;
    text-decoration: none;
}

.prev{
    background-image: url(images/larr.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.next{
    background-image: url(images/rarr.png);
    background-repeat: no-repeat;
    background-position: right center;
}

hr{
    clear: both;
    height: 1px;
    color: #8d8d8d;
    background-color:#8d8d8d;
}

input{
    width: 65%;
    border: 1px solid #7f9db9;
    margin: 5px;
}

input[type="submit"]{
    border: 1px solid #003c74;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    font-weight: bold;
    padding: 1px;
}

.banner{
    border: 1px solid #3c7fb1;
    box-shadow: 1px 0px 1px 1px white inset;
    background: rgb(212,240,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(212,240,254,1) 0%, rgba(208,238,253,1) 50%, rgba(194,231,250,1) 51%, rgba(191,230,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,240,254,1)), color-stop(50%,rgba(208,238,253,1)), color-stop(51%,rgba(194,231,250,1)), color-stop(100%,rgba(191,230,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(212,240,254,1) 0%,rgba(208,238,253,1) 50%,rgba(194,231,250,1) 51%,rgba(191,230,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(212,240,254,1) 0%,rgba(208,238,253,1) 50%,rgba(194,231,250,1) 51%,rgba(191,230,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(212,240,254,1) 0%,rgba(208,238,253,1) 50%,rgba(194,231,250,1) 51%,rgba(191,230,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(212,240,254,1) 0%,rgba(208,238,253,1) 50%,rgba(194,231,250,1) 51%,rgba(191,230,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4f0fe', endColorstr='#bfe6f9',GradientType=0 ); /* IE6-9 */
    color: #3bccfe;
    font-weight: bold;
    width: 70%;
    margin: 3px 13px 3px 15px;
    padding: 8px 5px 8px 5px;
}

nav header a{
    background-image: url(images/home.png);
    background-repeat: no-repeat;
    background-position: left top;
    text-decoration: none;
    display: block;
    width: 60px;
    text-align:right;
    color: black;
    font-weight: bold;
    margin-top: 8px;
}

nav ul li ul li a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

nav > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 8px;
    font-size: 11px;
    line-height: 11px;
}

aside > div{
    border: 1px solid #868686;
    background: white;
    text-align: center;
    margin: 1px 1px 5px 1px;
}

aside div h2{
    margin: 0;
    font-size: 11px;
}

aside a{
    display: block;
    padding: 2px;
    font-size: 11px;
}

article img{
    float: left;
    margin-right: 10px;
}

section article:first-of-type div p{
    font-weight: bold;
}

section article:first-of-type div a{
    display: block;
    margin-left: 105px;
}
