body{
	font-family: Corbel;
	font-size: 18px;
}

div, h2, input, label{
    margin: 0;
    padding: 0;
}

div{
    float: left;
}

h1{
    text-align: center;
}

.container{
    outline: 2px solid black;
    width: 550px;
    margin-top: 10px;
}

.cell{
    width: 250px;
    border: 2px solid black;
    margin: 13px 8px 8px 8px;
}

.small:nth-child(3){
    padding-top: 30px;
}

.small{
    width: 40%;
    padding-left: 5%;
    padding-bottom: 3%;
}

input[type="range"], label{
    margin: 0px 10px 5px 20px;
    display: block;
}

label{
    font-size: 1.2em;
}

label:first-child{
    margin-top: 60px;
}

h2{
    font-weight: normal;
    font-size: 1em;
    position: relative;
    top: -15px;
    left: 30px;
    display: block;
    background-color: white;
    width: 150px;
    padding-left: 5px;
}

a{
	color: #00B0F0;
}