USE [master]
GO
/****** Object:  Database [VisitorCount]    Script Date: 26.10.2014 19:21:33 ******/
CREATE DATABASE [VisitorCount]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VisitorCount].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VisitorCount]
GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 26.10.2014 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[Count] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Visitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Visitors] ([Count], [Id]) VALUES (14, 1)
USE [master]
GO
