<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_06.ReadExcelFile.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_06.ReadExcelFile.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <_06.ReadExcelFile.Settings>
            <setting name="OleDBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\ScoreTable.xlsx;Extended Properties="Excel 12.0 Xml;HDR=YES";</value>
            </setting>
        </_06.ReadExcelFile.Settings>
        <_06.ReadExcelFile.Settings1>
            <setting name="OleDBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\ScoreTable.xlsx;Persist Security Info=False</value>
            </setting>
        </_06.ReadExcelFile.Settings1>
    </userSettings>
</configuration>