body {
     font-family : sans-serif;
     font-size : 16px;
     text-align : left;
     padding : 0;
     margin : 0;
}

table {
    width : 97%;
    border-spacing : 0;
    border : 1px solid #c7c7a7;
    }

tr td {
    border-left: 1px solid #c7c7c7;
    padding : 5px;
    }

tr th {
    border-bottom : 1px solid #6c6c6c;
    border-right : 2px solid #78c835;
    border-left : 1px solid #6c6c6c;
    background-color : #58b908;
    color : white;
    padding : 5px;
    font-weight : normal;
    }

table tr:nth-child(2n){
    background-color : #ededda;
}

img {
    width : 30px;
    height : inherit;
}

.country td,.country{
    border-collapse : collapse;
    border : hidden;
    float : left;
}



